<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <br><br>
        <mat-chip-list>
            <mat-chip style="margin: 0 auto;" color="accent">{{nick}}</mat-chip>
        </mat-chip-list>
        <br>
        <mat-nav-list>
            <a mat-list-item routerLink="/@admin/capitulos">
                <span class="material-icons">insert_drive_file</span>
                <span class="icon-left">Capítulos</span>
            </a>
            <a mat-list-item routerLink="/@admin/libros">
                <span class="material-icons">library_books</span>
                <span class="icon-left">Mangas</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="closeSession()">
                <span class="material-icons">close</span>
                <span class="icon-left">Cerrar sesión</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle menu" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Menu">menu</mat-icon>
            </button>
            <span>Administración</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>