.icon-mar{
    margin: 0 8px;
}
.icon-top{
    position: relative;
}
.icon-aux{
    top: 6px; 
    position: relative;
}
.news-card{
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px){
    body{
        background: blue !important;
    }
}
.fix-size{
    height: 199px;
    max-height: 200px;
}
.react{
    position: relative;
}
.mat-image-card{
    max-width: 90px;
    min-width: 85px;
    max-height: 140px;
    min-height: 135px;
}
.mat-image{
    height: 350px;
}
.mat-image-home{
    height: 150px;
}
.cnt{
    position: absolute;
    left: 125px;
    top: 25px;
}
.text-muted{
    color: white;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.no-padding-bottom{
    padding-bottom: 0px !important;
}
.div-block{
    display: flex;
    flex-direction: row;
}
.div-flex{
    flex: 1 0 auto;
}