<br>
<div class="container">
    <div class="row">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <b>Libros agregados en BMANGA</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Libros subidos a la plataforma.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Libros ya publicados">
                        <div class="container-fluid" style="padding: 30px;">
                            <mat-progress-bar mode="indeterminate" *ngIf="showIsLoad"></mat-progress-bar>
                            <table mat-table [dataSource]="getData()" class="mat-elevation-z8" *ngIf="!showIsLoad">
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.book_name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element"> {{getStatus(element.status)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef> Responsable </th>
                                    <td mat-cell *matCellDef="let element"> {{element._id_user.usernick}} </td>
                                </ng-container>
                                <ng-container matColumnDef="opciones">
                                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="copiarlink(element)" mat-icon-button matTooltip="URL del libro" [disabled]="isDeleting">
                                            <mat-icon aria-label="Link">link</mat-icon>
                                        </button>
                                        <button [routerLink]="['/@admin', 'libros', element._id]" mat-icon-button color="primary" matTooltip="Editar" [disabled]="isDeleting">
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                        </button>
                                        <button (click)="eliminar(element)" mat-icon-button color="warn" matTooltip="Eliminar" [disabled]="isDeleting">
                                            <mat-icon aria-label="Delete">delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                            <mat-paginator [length]="lengthData" [pageSize]="pageSize" (page)="pageEvent = $event">
                            </mat-paginator>
                            <small><b>Los datos pueden tardar en actualizarse.</b></small>
                        </div>
                    </mat-tab>
                    <mat-tab label="Formulario para un nuevo libro">
                        <div class="container-fluid" style="padding: 30px;">
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>
                            <form (ngSubmit)="saveBook()" [formGroup]="form" *ngIf="!isLoad">
                                <mat-label>
                                    <b>Completa todos los puntos posibles.</b>
                                </mat-label>
                                <br>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Nombre del libro</mat-label>
                                    <input matInput type="text" autocomplete="off" formControlName="titulo">
                                    <mat-hint>Un nombre con carácteres válidos</mat-hint>
                                </mat-form-field>
                                <br><br>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Descripción del libro</mat-label>
                                    <textarea matInput name="sinopsis" id="sinopsis" formControlName="descripcion"></textarea>
                                    <mat-hint>Una descripción con carácteres válidos</mat-hint>
                                </mat-form-field>
                                <br><br>
                                <mat-form-field style="width: 100%;">
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                            (removed)="remove(fruit)">
                                            {{fruit}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Géneros" #fruitInput [formControl]="fruitCtrl"
                                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                            {{fruit}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint>
                                        <ul>
                                            <li>Selecciona un género desplegado del autocompletar.</li>
                                            <li>Escribe tu género personalizado y presiona ENTER o COMMA para
                                                agregarlo.</li>
                                        </ul>
                                    </mat-hint>
                                </mat-form-field>
                                <br><br><br>
                                <mat-label>Estado del libro</mat-label>
                                <br><br>
                                <mat-button-toggle-group [disabled]="isLoad" name="statusBook" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="status" aria-label="Estado común del libro">
                                    <mat-button-toggle value="A">Activo</mat-button-toggle>
                                    <mat-button-toggle value="D">Abandonado</mat-button-toggle>
                                    <mat-button-toggle value="F">Finalizado</mat-button-toggle>
                                    <mat-button-toggle value="I">Irregular</mat-button-toggle>
                                    <mat-button-toggle value="P">Pausa indefinida</mat-button-toggle>
                                </mat-button-toggle-group>
                                <br><br>
                                <div class="form-group">
                                    <label for="image_cover">Imagen de portada</label><br><br>
                                    <input (change)="changeFile($event)" formControlName="image" type="file" name="image_cover"
                                        id="image_cover" accept="image/*">
                                </div>
                                <br>
                                <div class="div-block">
                                    <span class="div-flex"></span>
                                    <button [disabled]="!form.valid || isLoad" mat-stroked-button color="primary" type="submit">
                                        <span *ngIf="!isLoad">
                                            <b>GUARDAR LIBRO EN LA BIBLIOTECA</b>
                                        </span>
                                        <span *ngIf="isLoad">
                                            <b>GUARDANDO...</b>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br>