<mat-toolbar style="position: fixed; z-index: 99999;">
    <mat-toolbar-row class="mat-elevation-z6">
        <a class="title-static" style="text-decoration: none;" routerLink="/"><b>BMANGA</b></a>
        <span class="flex"></span>
        <button [routerLink]="['login']" mat-icon-button matTooltip="Iniciar sesión" [routerLink]="['login']" class="icon-mar">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Buscar mangas" [routerLink]="['buscar']" class="icon-mar">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Reportar problema" class="icon-mar">
            <mat-icon>bug_report</mat-icon>
        </button>
        <mat-slide-toggle [(ngModel)]="changeTheme" (ngModelChange)="eventChangeTheme($event)">
            <mat-icon style="margin-top: 5px;">brightness_medium</mat-icon>
        </mat-slide-toggle>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-elevation-z4" *ngIf="SubTitleBar.length > 0">
        {{SubTitleBar}}
    </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<router-outlet></router-outlet>