<mat-toolbar style="position: fixed; z-index: 99999;">
    <mat-toolbar-row class="mat-elevation-z6">
        <a class="title-static" style="text-decoration: none;" routerLink="/"><b>BMANGA</b></a>
        <span class="flex"></span>
        <!--<button mat-icon-button matTooltip="Descargar" class="icon-mar" [routerLink]="['descargar']">
            <span class="material-icons">cloud_download</span>
        </button>-->
        <mat-slide-toggle [(ngModel)]="changeTheme" (ngModelChange)="eventChangeTheme($event)">Oscurecer</mat-slide-toggle>
        <button (click)="goTo('login')" mat-icon-button matTooltip="Iniciar sesión" [routerLink]="['login']" class="icon-mar">
            <span class="material-icons">account_circle</span>
        </button>
        <button mat-icon-button matTooltip="Buscar mangas" [routerLink]="['buscar']" class="icon-mar">
            <span class="material-icons">search</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<router-outlet></router-outlet>