<br>
<div class="container">
    <div class="row">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <b>Capítulos ingresados en BMANGA</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Capítulos subidos por ti a la plataforma.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Capítulos ya publicados">

                        <div class="container-fluid" style="padding: 30px;">
                            <mat-progress-bar mode="indeterminate" *ngIf="showIsLoad"></mat-progress-bar>
                            <table mat-table [dataSource]="getData()" class="mat-elevation-z8" *ngIf="!showIsLoad">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.book_name}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                                </tr>
                            </table>
                            <mat-paginator [length]="lengthData" [pageSize]="pageSize" (page)="pageEvent = $event">
                            </mat-paginator>
                        </div>
                    </mat-tab>
                    <mat-tab label="Formulario para un nuevo capítulo">
                        <div class="container-fluid" style="padding: 30px;">
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>
                            <mat-label>
                                <b>Completa todos los puntos posibles.</b>
                            </mat-label>
                            <br>
                            <form (ngSubmit)="saveBook()" [formGroup]="form">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Nombre del libro</mat-label>
                                    <input matInput type="text" autocomplete="off" formControlName="titulo">
                                    <mat-hint>Un nombre con carácteres válidos</mat-hint>
                                </mat-form-field>
                                <br><br>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Descripción del libro</mat-label>
                                    <textarea matInput name="sinopsis" id="sinopsis"
                                        formControlName="descripcion"></textarea>
                                    <mat-hint>Una descripción con carácteres válidos</mat-hint>
                                </mat-form-field>
                                <br><br>
                                <mat-form-field style="width: 100%;">
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                            (removed)="remove(fruit)">
                                            {{fruit}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Géneros" #fruitInput [formControl]="fruitCtrl"
                                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                            {{fruit}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint>
                                        <ul>
                                            <li>Selecciona un género desplegado del autocompletar.</li>
                                            <li>Escribe tu género personalizado y presiona ENTER o COMMA para
                                                agregarlo.</li>
                                        </ul>
                                    </mat-hint>
                                </mat-form-field>
                                <br><br><br>
                                <mat-label>Estado del libro</mat-label>
                                <br><br>
                                <mat-button-toggle-group [disabled]="isLoad" name="statusBook" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="status" aria-label="Estado común del libro">
                                    <mat-button-toggle value="A">Activo</mat-button-toggle>
                                    <mat-button-toggle value="D">Abandonado</mat-button-toggle>
                                    <mat-button-toggle value="F">Finalizado</mat-button-toggle>
                                    <mat-button-toggle value="I">Irregular</mat-button-toggle>
                                    <mat-button-toggle value="P">Pausa indefinida</mat-button-toggle>
                                </mat-button-toggle-group>
                                <br><br>
                                <div class="form-group">
                                    <label for="image_cover">Imagen de portada</label><br><br>
                                    <input (change)="changeFile($event)" formControlName="image"
                                        type="file" name="image_cover" id="image_cover" accept="image/*">
                                </div>
                                <br>
                                <div class="div-block">
                                    <span class="div-flex"></span>
                                    <button [disabled]="!form.valid && isLoad" mat-stroked-button color="primary" type="submit">
                                        <b>GUARDAR LIBRO EN LA BIBLIOTECA</b>
                                    </button>
                                </div>
                                <br><br><br>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br>