div.formlogin{
    position: absolute;
    width: 350px;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
}
.progresslinear{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;;
    right: 0;
}